<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head', {title: 'Agregar producto'})  %> 
<body class="listProduct home-container admin-container">
    
    <%-include('../partials/header')  %>    
    
    
    <form action="/admin/cables" method="POST" enctype="multipart/form-data" class="form-addProduct">
        
        <div class="form-container1">
            <div class="new-products-separador"></div>
            <h2>Agregar Cable</h2>
            <div class="inputs-container1">
                <div class="input-container1">
                    <label for="nameProduct">Nombre del producto</label>
                    <input type="text" name="nameProduct" id="nameProduct" placeholder="Ej: Guitarra Gibson" class="input-style1" value="<%= locals.old ? old.nameProduct : null  %>">
                    <% if (locals.errors && errors.nameProduct) { %>
                        <span class="error-message1"><%= errors.nameProduct.msg %></span>
                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="marca">Seleccione marca</label>
                    <select name="marca" id="marca" >
                        <option value="" disabled selected>- seleccionar marca - </option>
                        <% marcas.forEach(marca => { %>
                            <option value="<%= marca.id %>" <%= (locals.old && old.marca) && old.marca === marca.marca ? 'selected' : null %>  ><%= marca.marca %></option>
                        <% }); %>
                        
                    </select>
                    <% if (locals.errors && errors.marca) { %>
                        <span class="error-message1"><%= errors.marca.msg %></span>
                    <% } %>
                    
                 </div>
                 <div class="input-container1">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" placeholder="Ej: 3000" class="input-style1" value="<%= locals.old ? old.price : null  %>">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message1"><%= errors.price.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="inputIn">Conector de entrada</label>
                    <input type="text" name="inputIn" id="inputIn" placeholder="Ej: Plug" class="input-style1" value="<%= locals.old ? old.inputIn : null  %>">
                    <% if (locals.errors && errors.inputIn) { %>
                        <span class="error-message1"><%= errors.inputIn.msg %></span>
                    <% } %>
                </div>
                 
                <div class="input-container1">
                    <label for="inputOut">Conector de salida</label>
                    <input type="text" name="inputOut" id="inputOut" placeholder="Ej: Plug" class="input-style1" value="<%= locals.old ? old.inputOut : null  %>">
                    <% if (locals.errors && errors.inputOut) { %>
                        <span class="error-message1"><%= errors.inputOut.msg %></span>
            
                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="large">Largo</label>
                    <input type="text" name="large" id="large" placeholder="Ej: 10 metros" class="input-style1" value="<%= locals.old ? old.large : null  %>">
                    <% if (locals.errors && errors.large) { %>
                        <span class="error-message1"><%= errors.large.msg %></span>
            
                    <% } %>
                </div>
                <div class="input-container1 file-container">
                    <label for="image"  class="btn-file">Agregar imagenes</label>
                    <input type="file" name="image" id="image" accept=".png, .jpg, .svg" class="file" multiple>
                    <% if (locals.errors && errors.image) { %>
                        <span class="error-message1"><%= errors.image.msg %></span>
                    <% } %>
                    
                </div>
                <div class="btn-switch input-container1">
                     
                    <input type="checkbox" name="stock"  id="stock" <%= (locals.old && old.stock) ? "checked" : null %>>
                    <label for="stock" class="lbl-switch"></label>
                    <span class="lbl-stock">Stock disponible</span>
                </div>
            </div>    
            <div class="input-container1 input-description-container">
                <label for="description">Descripcion</label>
                <textarea name="description" id="description" cols="30" rows="10" ><%= (locals.old && old.description) && old.description %></textarea>
                <% if (locals.errors && errors.description) { %>
                    <span class="error-message1"><%= errors.description.msg %></span>
                <% } %>
            </div>
            <div class="btn-container">
                <button class="btn-style" type="submit" >Crear</button>
            </div>
        </div>
    </form>

    <%-include('../partials/footer')  %> 
    
</body>
</html>