<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head', {title: 'Agregar producto'})  %> 
<body class="listProduct home-container admin-container">
    
    <%-include('../partials/header')  %>    
    
    
    <form action="/admin/products" method="POST" enctype="multipart/form-data" class="form-addProduct">
        
        <div class="form-container1">
            <div class="new-products-separador"></div>
            <h2>Agregar Producto</h2>
            <div class="input-container1">
                <label for="product">Seleccione producto</label>
                <select name="product" id="product" >
                    <option value="" disabled selected>- seleccionar producto - </option>
                    <% listaSubcategory.forEach(subcategory => { %>
                        <option value="<%= subcategory.name %>" <%= (locals.old && old.product) && old.product ===  subcategory.name ? 'selected' : '' %>  ><%= subcategory.name %></option>
                    <% }); %>
                    
                </select>
                <% if (locals.errors && errors.product) { %>
                    <span class="error-message1"><%= errors.product.msg %> </span>
                <% } %>
                
             </div>
            <div class="inputs-container1" id="guitar-details">
                <div class="input-container1">
                    <label for="nameProduct">Nombre del producto</label>
                    <input type="text" name="nameProduct" id="nameProduct" placeholder="Ej: Guitarra Gibson" class="input-style1" value="<%= locals.old ? old.nameProduct : null  %> ">
                    <% if (locals.errors && errors.nameProduct) { %>
                        <span class="error-message1"><%= errors.nameProduct.msg %></span>
                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="marca">Seleccione marca</label>
                    <select name="marca" id="marca" >
                        <option value="" disabled selected>- seleccionar marca - </option>
                        <% listaMarca.forEach(marca => { %>
                            <option value="<%= marca.marca %>" <%= (locals.old && old.marca) && old.marca === marca.marca ? 'selected' : null %>  ><%= marca.marca %></option>
                        <% }); %>
                        
                    </select>
                    <% if (locals.errors && errors.marca) { %>
                        <span class="error-message1"><%= errors.marca.msg %></span>
                    <% } %>
                    
                 </div>
                <div class="input-container1">
                    <label for="line">Linea</label>
                    <input type="text" name="line" id="line" placeholder="Ej:SE series" class="input-style1" value="<%= locals.old ? old.line : null  %> ">
                    <% if (locals.errors && errors.line) { %>
                        <span class="error-message1"><%= errors.line.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="model">Modelo</label>
                    <input type="text" name="model" id="model" placeholder="Ej: Standar 24" class="input-style1"  value="<%= locals.old ? old.model : null  %> ">
                    <% if (locals.errors && errors.model) { %>
                        <span class="error-message1"><%= errors.model.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="hand">Orientacion de la mano</label>
                    <input type="text" name="hand" id="hand" placeholder="Ej:Diestro" class="input-style1" value="<%= locals.old ? old.hand : null  %> ">
                    <% if (locals.errors && errors.hand) { %>
                        <span class="error-message1"><%= errors.hand.msg  %> </span>
                    <% } %>
                    
                </div>
                 <div class="input-container1">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" placeholder="Ej: 3000" class="input-style1" value="<%= locals.old ? old.price : null  %> ">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message1"><%= errors.price.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="color">Color</label>
                    <input type="text" name="color" id="color" placeholder="Ej: Sunsburts" class="input-style1" value="<%= locals.old ? old.color : null  %> ">
                    <% if (locals.errors && errors.color) { %>
                        <span class="error-message1"><%= errors.color.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="materialBody">Tipo de madera del cuerpo</label>
                    <input type="text" name="materialBody" id="materialBody" placeholder="Ej:Caoba" class="input-style1" value="<%= locals.old ? old.materialBody : null  %> ">
                    <% if (locals.errors && errors.materialBody) { %>
                        <span class="error-message1"><%= errors.materialBody %></span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="materialFretboard">Material del diapason</label>
                    <input type="text" name="materialFretboard" id="materialFretboard" placeholder="Ej:Palo rosa" class="input-style1" value="<%= locals.old ? old.materialFretboard : null  %> ">
                    <% if (locals.errors && errors.materialFretboard) { %>
                        <span class="error-message1"><%= errors.materialFretboard  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="bodyFinish">Acabado del cuerpo</label>
                    <input type="text" name="bodyFinish" id="bodyFinish" placeholder="Ej:Polurietano" class="input-style1" value="<%= locals.old ? old.bodyFinish : null  %> ">
                    <% if (locals.errors && errors.bodyFinish) { %>
                        <span class="error-message1"><%= errors.bodyFinish %></span>
                    <% } %> 
                </div>
                <div class="input-container1 file-container">
                    <label for="image"  class="btn-file">Agregar imagenes</label>
                    <input type="file" name="image" id="image" accept=".png, .jpg, .svg" class="file" multiple>
                    <% if (locals.errors && errors.image) { %>
                        <span class="error-message1"><%= errors.image.msg %></span>
                    <% } %>
                    
                </div>
               
                 <div class="btn-switch input-container1">
                     
                     <input type="checkbox" name="stock"  id="stock" <%= (locals.old && old.stock) ? "checked" : null %>>
                     <label for="stock" class="lbl-switch"></label>
                     <span class="lbl-stock">Stock disponible</span>
                 </div>
            </div>

            <div class="inputs-container1" id="cuerda-details">
                <div class="input-container1">
                    <label for="nameProduct">Nombre del producto</label>
                    <input type="text" name="nameProduct" id="nameProduct" placeholder="Ej: Guitarra Gibson" class="input-style1" value="<%= locals.old ? old.nameProduct : null  %> ">
                    <% if (locals.errors && errors.nameProduct) { %>
                        <span class="error-message1"><%= errors.nameProduct.msg %></span>
                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="marca">Seleccione marca</label>
                    <select name="marca" id="marca" >
                        <option value="" disabled selected>- seleccionar marca - </option>
                        <% listaMarca.forEach(marca => { %>
                            <option value="<%= marca.marca %>" <%= (locals.old && old.marca) && old.marca === marca.marca ? 'selected' : null %>  ><%= marca.marca %></option>
                        <% }); %>
                        
                    </select>
                    <% if (locals.errors && errors.marca) { %>
                        <span class="error-message1"><%= errors.marca.msg %></span>
                    <% } %>
                    
                 </div>
                <div class="input-container1">
                    <label for="strings">Cantidad de cuerdas</label>
                    <input type="number" name="strings" id="strings" placeholder="Ej: 6" class="input-style1" value="<%= locals.old ? old.strings : null  %> ">
                    <% if (locals.errors && errors.strings) { %>
                        <span class="error-message1"><%= errors.strings.msg %></span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" placeholder="Ej: 3000" class="input-style1" value="<%= locals.old ? old.price : null  %> ">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message1"><%= errors.price.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="tension">Tension</label>
                    <input type="text" name="tension" id="tension" placeholder="Ej: Media" class="input-style1" value="<%= locals.old ? old.tension : null  %> ">
                    <% if (locals.errors && errors.tension) { %>
                        <span class="error-message1"><%= errors.tension.msg %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="material">Material </label>
                    <input type="text" name="material" id="material" placeholder="Ej: Nickel" class="input-style1" value="<%= locals.old ? old.material : null  %> ">
                    <% if (locals.errors && errors.material) { %>
                        <span class="error-message1"><%= errors.material.msg  %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="calibre">Calibre</label>
                    <input type="text" name="calibre" id="calibre" placeholder="Ej: 0.10" class="input-style1" value="<%= locals.old ? old.calibre : null  %> ">
                    <% if (locals.errors && errors.calibre) { %>
                        <span class="error-message1"><%= errors.calibre.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1 file-container">
                    <label for="image"  class="btn-file">Agregar imagenes</label>
                    <input type="file" name="image" id="image" accept=".png, .jpg, .svg" class="file" multiple>
                    <% if (locals.errors && errors.image) { %>
                        <span class="error-message1"><%= errors.image.msg %></span>
                    <% } %>
                    
                </div>
                <div class="btn-switch input-container1">
                     
                    <input type="checkbox" name="stock"  id="stock" <%= (locals.old && old.stock) ? "checked" : null %>>
                    <label for="stock" class="lbl-switch"></label>
                    <span class="lbl-stock">Stock disponible</span>
                </div>
            </div>


            <div class="inputs-container1" id="pedal-details">
                <div class="input-container1">
                    <label for="nameProduct">Nombre del producto</label>
                    <input type="text" name="nameProduct" id="nameProduct" placeholder="Ej: Guitarra Gibson" class="input-style1" value="<%= locals.old ? old.nameProduct : null  %> ">
                    <% if (locals.errors && errors.nameProduct) { %>
                        <span class="error-message1"><%= errors.nameProduct.msg %></span>
                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="marca">Seleccione marca</label>
                    <select name="marca" id="marca" >
                        <option value="" disabled selected>- seleccionar marca - </option>
                        <% listaMarca.forEach(marca => { %>
                            <option value="<%= marca.marca %>" <%= (locals.old && old.marca) && old.marca === marca.marca ? 'selected' : null %>  ><%= marca.marca %></option>
                        <% }); %>
                        
                    </select>
                    <% if (locals.errors && errors.marca) { %>
                        <span class="error-message1"><%= errors.marca.msg %></span>
                    <% } %>
                    
                 </div>
                <div class="input-container1">
                    <label for="vocal">Vocal</label>
                    <input type="text" name="vocal" id="vocal" placeholder="Ej: No" class="input-style1" value="<%= locals.old ? old.vocal : null  %> ">
                    <% if (locals.errors && errors.vocal) { %>
                        <span class="error-message1"><%= errors.vocal.msg  %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="efects">Cantidad de efectos</label>
                    <input type="number" name="efects" id="efects" placeholder="Ej: 3" class="input-style1" value="<%= locals.old ? old.efects : null  %> ">
                    <% if (locals.errors && errors.efects) { %>
                        <span class="error-message1"><%= errors.efects.msg  %></span>

                    <% } %> 
                </div>
                <div class="input-container1">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" placeholder="Ej: 3000" class="input-style1" value="<%= locals.old ? old.price : null  %> ">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message1"><%= errors.price.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="instruments">Instrumentos compatibles</label>
                    <input type="text" name="instruments" id="instuments" placeholder="Ej: Guitarra Electrica" class="input-style1" value="<%= locals.old ? old.instruments : null  %> ">
                    <% if (locals.errors && errors.instruments) { %>
                        <span class="error-message1"><%= errors.instruments %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="typeEfect">Tipo de efecto</label>
                    <input type="text" name="typeEfect" id="typeEfect" placeholder="Ej: Fuzz" class="input-style1" value="<%= locals.old ? old.typeEfect : null  %> ">
                    <% if (locals.errors && errors.typeEfect) { %>
                        <span class="error-message1"><%= errors.typeEfect %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="voltaje">Voltaje</label>
                    <input type="text" name="voltaje" id="voltaje" placeholder="Ej: 9V" class="input-style1" value="<%= locals.old ? old.voltaje : null  %> ">
                    <% if (locals.errors && errors.votlaje) { %>
                        <span class="error-message1"><%= errors.voltaje %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="technology">Tecnologia</label>
                    <input type="text" name="technology" id="technology" placeholder="Ej: digital" class="input-style1" value="<%= locals.old ? old.technology : null  %> ">
                    <% if (locals.errors && errors.technology) { %>
                        <span class="error-message1"><%= errors.technology %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="feeding">Alimentacion</label>
                    <input type="text" name="feeding" id="feeding" placeholder="Ej: Fuente" class="input-style1" value="<%= locals.old ? old.feeding : null  %> ">
                    <% if (locals.errors && errors.feeding) { %>
                        <span class="error-message1"><%= errors.feeding %></span>
                    <% } %>
                </div>
                <div class="input-container1 file-container">
                    <label for="image"  class="btn-file">Agregar imagenes</label>
                    <input type="file" name="image" id="image" accept=".png, .jpg, .svg" class="file" multiple>
                    <% if (locals.errors && errors.image) { %>
                        <span class="error-message1"><%= errors.image.msg %></span>
                    <% } %>
                    
                </div>
               
                <div class="btn-switch input-container1">
                     
                    <input type="checkbox" name="stock"  id="stock" <%= (locals.old && old.stock) ? "checked" : null %>>
                    <label for="stock" class="lbl-switch"></label>
                    <span class="lbl-stock">Stock disponible</span>
                </div>
            </div>

            <div class="inputs-container1" id="cable-details">
                <div class="input-container1">
                    <label for="nameProduct">Nombre del producto</label>
                    <input type="text" name="nameProduct" id="nameProduct" placeholder="Ej: Guitarra Gibson" class="input-style1" value="<%= locals.old ? old.nameProduct : null  %> ">
                    <% if (locals.errors && errors.nameProduct) { %>
                        <span class="error-message1"><%= errors.nameProduct.msg %></span>
                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="marca">Seleccione marca</label>
                    <select name="marca" id="marca" >
                        <option value="" disabled selected>- seleccionar marca - </option>
                        <% listaMarca.forEach(marca => { %>
                            <option value="<%= marca.marca %>" <%= (locals.old && old.marca) && old.marca === marca.marca ? 'selected' : null %>  ><%= marca.marca %></option>
                        <% }); %>
                        
                    </select>
                    <% if (locals.errors && errors.marca) { %>
                        <span class="error-message1"><%= errors.marca.msg %></span>
                    <% } %>
                    
                 </div>
                 <div class="input-container1">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" placeholder="Ej: 3000" class="input-style1" value="<%= locals.old ? old.price : null  %> ">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message1"><%= errors.price.msg  %> </span>
                    <% } %>
                    
                </div>
                <div class="input-container1">
                    <label for="inputIn">Conector de entrada</label>
                    <input type="number" name="inputIn" id="inputIn" placeholder="Ej: Plug" class="input-style1" value="<%= locals.old ? old.inputIn : null  %> ">
                    <% if (locals.errors && errors.inputIn) { %>
                        <span class="error-message1"><%= errors.inputIn %></span>
                    <% } %>
                </div>
                 
                <div class="input-container1">
                    <label for="inputOut">Conector de salida</label>
                    <input type="text" name="inputOut" id="inputOut" placeholder="Ej: Plug" class="input-style1" value="<%= locals.old ? old.inputOut : null  %> ">
                    <% if (locals.errors && errors.inputOut) { %>
                        <span class="error-message1"><%= errors.inputOut %></span>

                    <% } %>
                </div>
                <div class="input-container1">
                    <label for="large">Largo</label>
                    <input type="text" name="large" id="large" placeholder="Ej: 10 metros" class="input-style1" value="<%= locals.old ? old.large : null  %> ">
                    <% if (locals.errors && errors.large) { %>
                        <span class="error-message1"><%= errors.large %></span>

                    <% } %>
                </div>
                <div class="input-container1 file-container">
                    <label for="image"  class="btn-file">Agregar imagenes</label>
                    <input type="file" name="image" id="image" accept=".png, .jpg, .svg" class="file" multiple>
                    <% if (locals.errors && errors.image) { %>
                        <span class="error-message1"><%= errors.image.msg %></span>
                    <% } %>
                    
                </div>
                <div class="btn-switch input-container1">
                     
                    <input type="checkbox" name="stock"  id="stock" <%= (locals.old && old.stock) ? "checked" : null %>>
                    <label for="stock" class="lbl-switch"></label>
                    <span class="lbl-stock">Stock disponible</span>
                </div>
            </div>

            <div class="input-container1 input-description-container">
                <label for="description">Descripcion</label>
                <textarea name="description" id="description" cols="30" rows="10" ><%= (locals.old && old.description) ? old.description : null %></textarea>
            </div>
            <div class="btn-container">
                <button class="btn-style" type="submit" >Crear</button>
            </div>
        </div>
    </form>

    <%-include('../partials/footer')  %> 
    <script src="/scripts/addProduct.js"></script>
    
</body>
</html>