<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head', {title: 'Listado de productos'})  %> 
<body class="listProduct home-container admin-container">
    <div class="color-container">
    <%-include('../partials/header')  %> 
    </div>
<main class="tabla">
    <h2>Listado de productos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                
              
                    <tr>
                        <th><a href="product/detail/<%- product.id %> "><%- product.id %></a></th>
                        <td><a href="product/detail/<%- product.id %> "><%- product.marca %></a></td>
                        <td><a href="product/detail/<%- product.id %> "><%- product.model %></a></td>
                        <td><a href="product/detail/<%- product.id %> ">$<%- product.price %></a></td>
                        <td><a href="product/detail/<%- product.id %> "><%- product.category %></a></td>
                        <td><%- product.stock %></td>
                        <td>
                            <a href="" class="btn-edit">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                                <form action="">
                                    <button class="btn-danger">
                                        <i class="fa-solid fa-xmark fa-lg"></i>
                                    </button>
                                </form>
                            
                        </td>    
                    </tr>
            <% }) %>
        </tbody>
    </table>
</main>
 
    
    <%-include('../partials/footer')  %> 
</body>
</html>