<div class="input-container1">
    <label for="product">Seleccione producto</label>
    <select name="product" id="product" >
        <option value="" disabled selected>- seleccionar producto - </option>
        <% listaSubcategory.forEach(subcategory => { %>
            <option value="<%= subcategory.name %>" <%= (locals.old && old.product) && old.product ===  subcategory.name ? 'selected' : '' %>  ><%= subcategory.name %></option>
        <% }); %>
        
    </select>
    <% if (locals.errors && errors.product) { %>
        <span class="error-message1"><%= errors.product.msg %> </span>
    <% } %>
    
 </div>






<div class="inputs-container1" id="cuerda-details">
    <div class="input-container1">
        <label for="nameProduct">Nombre del producto</label>
        <input type="text" name="nameProduct" id="nameProduct" placeholder="Ej: Guitarra Gibson" class="input-style1" value="<%= locals.old ? old.nameProduct : null  %>">
        <% if (locals.errors && errors.nameProduct) { %>
            <span class="error-message1"><%= errors.nameProduct.msg %></span>
        <% } %>
    </div>
    <div class="input-container1">
        <label for="marca">Seleccione marca</label>
        <select name="marca" id="marca" >
            <option value="" disabled selected>- seleccionar marca - </option>
            <% listaMarca.forEach(marca => { %>
                <option value="<%= marca.marca %>" <%= (locals.old && old.marca) && old.marca === marca.marca ? 'selected' : null %>  ><%= marca.marca %></option>
            <% }); %>
            
        </select>
        <% if (locals.errors && errors.marca) { %>
            <span class="error-message1"><%= errors.marca.msg %></span>
        <% } %>
        
     </div>
    <div class="input-container1">
        <label for="strings">Cantidad de cuerdas</label>
        <input type="number" name="strings" id="strings" placeholder="Ej: 6" class="input-style1" value="<%= locals.old ? old.strings : null  %>">
        <% if (locals.errors && errors.strings) { %>
            <span class="error-message1"><%= errors.strings.msg %></span>
        <% } %>
        
    </div>
    <div class="input-container1">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" placeholder="Ej: 3000" class="input-style1" value="<%= locals.old ? old.price : null  %>">
        <% if (locals.errors && errors.price) { %>
            <span class="error-message1"><%= errors.price.msg  %> </span>
        <% } %>
        
    </div>
    <div class="input-container1">
        <label for="tension">Tension</label>
        <input type="text" name="tension" id="tension" placeholder="Ej: Media" class="input-style1" value="<%= locals.old ? old.tension : null  %>">
        <% if (locals.errors && errors.tension) { %>
            <span class="error-message1"><%= errors.tension.msg %></span>

        <% } %>
    </div>
    <div class="input-container1">
        <label for="material">Material </label>
        <input type="text" name="material" id="material" placeholder="Ej: Nickel" class="input-style1" value="<%= locals.old ? old.material : null  %>">
        <% if (locals.errors && errors.material) { %>
            <span class="error-message1"><%= errors.material.msg  %></span>

        <% } %>
    </div>
    <div class="input-container1">
        <label for="calibre">Calibre</label>
        <input type="text" name="calibre" id="calibre" placeholder="Ej: 0.10" class="input-style1" value="<%= locals.old ? old.calibre : null  %>">
        <% if (locals.errors && errors.calibre) { %>
            <span class="error-message1"><%= errors.calibre.msg  %> </span>
        <% } %>
        
    </div>
    <div class="input-container1 file-container">
        <label for="image"  class="btn-file">Agregar imagenes</label>
        <input type="file" name="image" id="image" accept=".png, .jpg, .svg" class="file" multiple>
        <% if (locals.errors && errors.image) { %>
            <span class="error-message1"><%= errors.image.msg %></span>
        <% } %>
        
    </div>
    <div class="btn-switch input-container1">
         
        <input type="checkbox" name="stock"  id="stock" <%= (locals.old && old.stock) ? "checked" : null %>>
        <label for="stock" class="lbl-switch"></label>
        <span class="lbl-stock">Stock disponible</span>
    </div>
</div>


